@tailwind base;
@tailwind components;
@tailwind utilities;

.rabbit-lyrics__line {
  @apply mb-2;

  &--active {
    @apply text-secondary !important;
    @apply font-black text-4xl leading-none my-4;
  }
}

@screen md {
  .rabbit-lyrics__line--active {
    @apply text-6xl max-w-4xl mx-auto my-8;
  }
}

.mic-on {
  display: none;
}

.vocals-on {
  @apply bg-secondary text-primary-500 shadow-lg;

  .mic-on {
    display: block;
  }

  .mic-off {
    display: none;
  }
}

[data-start] {
  cursor: pointer;

  &:hover {
    @apply text-secondary;
  }
}